@model Tourist_Project_MVC.View_Model.AdminApprovalBellVM
<li class="nav-item">
    <a class="nav-link position-relative" asp-controller="SponsorApproval" asp-action="Index">
        <i class="bi bi-bell-fill"></i> Approvals
        @if (Model.PendingCount > 0)
        {
            <span class="badge rounded-pill text-bg-danger ms-1">@Model.PendingCount</span>
        }
    </a>
</li>
